
<div class='ui medium header'>GameSwap</div>
<div id="GameSwap" class="carousel slide" data-ride="carousel" data-interval="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item fixed-height active">
      <img src="../images/gameswap_main.jpg" alt="GameSwap Main Page">
      <p>This is the landing page</p>
    </div>
    <div class="item fixed-height">
      <img src="../images/gameswap_profile.jpg" alt="GameSwap Profile Page">
    </div>
    <div class="item fixed-height">
      <img src="../images/gameswap_swaps.jpg"  alt="GameSwap Trades Page">
    </div>
    <div class="item fixed-height-lg">
      <img src="../images/gameswap_controlercode.jpg"  alt="GameSwap Angular Code">
      <p>This is my Angular code</p>
    </div>
    <div class="item fixed-height-lg">
      <img src="../images/gameswap_dbcode.jpg"  alt="GameSwap Trades SQL">
    </div>
  </div>

  <!-- Left and right controls -->
  <div class="carousel-controls">
	  <a class="left carousel-control item" href="#GameSwap" role="button" data-slide="prev">
	    <i class="chevron left icon black"></i>
	  </a>
	  <ol class="carousel-indicators">
    	<li data-target="#GameSwap" data-slide-to="0" class="active"></li>
    	<li data-target="#GameSwap" data-slide-to="1"></li>
    	<li data-target="#GameSwap" data-slide-to="2"></li>
    	<li data-target="#GameSwap" data-slide-to="3"></li>
    	<li data-target="#GameSwap" data-slide-to="4"></li>
  	</ol>
			<a class="right carousel-control item" href="#GameSwap" role="button" data-slide="next">
	    <i class="chevron right icon black"></i>
	  </a>
	</div>

	<p class='padding-top-sm'>These are the things I did while working on GameSwap. They were neat. I like SQL</p>
</div>
