img {
	width: 600px;
	height: auto;
}
.color-bar {
	background-color: #4fc1e9;
}
.margin-top {
	margin-top: 20px;
}
.margin-bottom {
	margin-bottom: 20px;
}

.padding-top {
	padding-top: 20px;
}

.padding-top-xl {
	padding-top: 80px; 
}

.padding-bottom {
	padding-bottom: 20px;
}

.padding-bottom-lg {
	padding-bottom: 40px;
}

.padding-bottom-xl {
	padding-bottom: 80px;
}

#slider {
    width: 900px;
    height: 400px;
}
.wrapper {
	margin-left: -20px;
}
.slider-container {
    width: 100%;
    height: inherit;
    display: block;
}
.glide__arrow {
	background-color: black;
}







